.jumbotron > h1, .jumbotron > p {
    color: white;
    background-color:rgb(122, 30, 153,.5);
}

h3 {
    color:  #0076c0;
    background-color:rgb(219, 206, 165, .7);
    border-radius: 10px;
    border-color:black, 1px;
    padding: 2px;
    text-align: center;
}

.jumbotron{
    background-image: url(2succeed-1.jpg); 
}
.search-wrap{
    padding-left: 20px;
    padding-right:20px;

}
.col-sm-4 {
    padding: 20px;
    border-radius: 25px;
}

.col-sm-4:hover {
    background-color:rgb(60, 60, 60, .5);
    cursor: pointer;
}