<!DOCTYPE html>
<html lang="en">
<head>
  <title>2Succeed Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="7RxU99aAImEXBdkh_EZRkbC-LWz-3KECtHwl8hVsLHk" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="recipes/js/jquery.js"></script>
  <script src="recipes/js/bootstrap.js"></script> 
</head>
<body ng-app="myApp" ng-controller="subjectCtrl">

<div class="jumbotron text-center">
  <h1>2Succeed Online</h1> 
  <p>Home of the Extra Web Based Tools</p>
  <div class="search-wrap"><input type="text" ng-model="single" class="form-control" placeholder="Search" /></div>  
</div>
  <div class="col-sm-4" ng-repeat="x in subjects | filter:single">
    <div class="card" ng-click="goto(x.url)">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=5" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>{{x.name}}</h2>
          <h3>{{x.title}}</h2>
      </div>
      <div class="content">
        <p>{{x.description}}</p>
      </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>