<!DOCTYPE html>
<html lang="en">
<head>
  <title>2Succeed Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="recipes/js/jquery.js"></script>
  <script src="recipes/js/bootstrap.js"></script> 
</head>
<body ng-app="myApp" ng-controller="subjectCtrl">

<div class="jumbotron text-center">
  <h1>2Succeed Online</h1> 
  <p>Home of the Extra Web Based Tools</p>
  <div class="search-wrap"><input type="text" ng-model="single" class="form-control" placeholder="Search" /></div>  
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4" ng-repeat="x in subjects | filter:single" onclick="window.location='http://google.com';">
            <div>
                <h3>{{x.name}}</h3>
                <p>{{x.title}} [{{x.instructor}}]</p>
                <p>{{x.description}}</p>
            </div>
    </div>
  </div>


</div>
</body>
</html>