html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 2.3em;
}

header {
    background-color:  #008778;
    flex: 0 0 20px;
    color: white;
    padding: 4px;
}
.slidecontainer{
    vertical-align: bottom;
}
footer {
    
    background-color:  #008778;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    
}
body > section {
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}
section > main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: auto;
}
#cards{
    display: none;
}
article {
    border-radius: 5px;
    background-color: #efefef;
    padding: 20px;
    margin-bottom: 20px;
}

table {
    background-color: #008778;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
    text-align: center;
    display: none;
}
th {
    color: black;
    padding: 10px;
}
td, tr {
    padding: 15px 15px 15px 15px;
    background-color: white;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
}

#squarefree1, #squarefree2, #squarefree3, #squarefree4, #squarefree5, #squarefree6, #squarefree7, #squarefree8, #squarefree9, #squarefree10,
#squarefree11, #squarefree12, #squarefree13, #squarefree14, #squarefree15, #squarefree16, #squarefree17, #squarefree18, #squarefree19, #squarefree20,#squarefree21, #squarefree22, #squarefree23, #squarefree24, #squarefree25, #squarefree26, #squarefree27, #squarefree28, #squarefree29, #squarefree30, #squarefree31, #squarefree32, #squarefree33, #squarefree34, #squarefree35, #squarefree36, #squarefree37, #squarefree38, #squarefree39, #squarefree40{
    font-size: 6px;
}
span {
    text-align: center;
}

header,
body > section,
footer,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#offcanvas-left,
#offcanvas-right,
footer,
header,
main article {
    align-items: center;
}

.blue { background-color: #006B6B; }
.red { background-color: #FF6B45; }
.green { background-color: #99CC99; }
.yellow { background-color: #FFBF00; }
.cardtitle { 
    font-size: 20px;
    background-color: #006B6B;
    font-style: bold;
}

#squarefree { font-size: .5em; }

.slidecontainer {
  width: 100%;
}

.button {
  background-color:  #FFB500;
  color: black;
  border: 2px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 30px;
}

.alert-button {
  background-color: #FF4E4B;
  color: white;
  border: 2px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 30px;
}

#cardselecttable {
    display: flex;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #60C659; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}




